<div class="row">
    <div class="col-md-4 users">
        <h4>Users</h4>
        <ul class="list-unstyled">
            <li class="users {{ user.type | lowercase }}" ng-repeat="user in users">
                <a ng-click="setActiveUser(user)" class="{{ user.id | activeUserClass:activeUser.id }}">
                    <i class="iconuser iconuser-{{ user.status }}"></i> {{ user.name }} <span class="badge" ng-show="user.newMsg > 0">{{ user.newMsg }}</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="col-md-8 module" ng-show="activeUser">
    	<header class="top-bar">
	    	<div class="left">
		    	<span class="icon2-mail icon-white"></span>
		    	<span class="titulochat">{{ activeUser.name }}</span>
	    	</div>
    	</header>
        <div class="text-area">
            <textarea ng-model="messageText" placeholder="Send a message"></textarea>
            <button class="btn btn-default btn-sm" value="Send" ng-click="sendMessage()">Send</button>
        </div>
        <ul class="discussion">
            <li class="{{ message | mineClass }}" ng-repeat="message in activeMessages">
                <div class="messages">
                	<p>
                    	<span ng-bind-html="message.text"></span> <span ng-show="message.date">-</span> <time class="right">{{ message.date | timeFormat }}</time>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
